$section-height: 475px;
$standard-border: 2px solid black;
$border-radius: 2%;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: lightgray;
}

.navbar {
  border: $standard-border;
  color: #000;
  margin: 2% 2% 0 2%;
}

li {
  cursor: pointer;
}  

.musicRow {
  p {
    .info {
    font-style: italic;
    font-weight: bolder;
    }
  }
}

.inputSection {
  text-align: center;
  background-color: #fff;
  border: $standard-border;
  margin: 2%;
  border-radius: $border-radius;
  padding: 3%;
}

.select {
  background-color: #fff;
  border:  $standard-border;
  padding: 8px 10px 8px 10px;
  height: $section-height;
  margin: 2%;
  border-radius: $border-radius;

  button {
    margin: 5% 25%;   
  }
}

.songs {
  background-color: #fff;
  border:  $standard-border;
  padding: 8px 0px 8px 20px;
  height: $section-height;
  overflow: auto;
  margin: 2%;
  border-radius: $border-radius;


  h1 {
    color:  #785616;
    font-size: 26px;
    font-weight: lighter;  
  }

  p {
    font-size: 1.25em;  
  }
}

.genre p {
  display: inline-block;
  margin: auto 8px;
}

h3 {
  font-weight: lighter;
}
